{% extends "base.html" %}

{% block content %}

<div class="heading_back" >
  <p class="heading">Wykonaj sam test Stroopa!</p>
</div>
<div >

<h2> __________ Co to efekt Stroopa? __________</h2>
  <p> W psychologii efekt Stroopa jest demonstracją czasu reakcji na zadanie.
      Przykładem jest określanie koloru tekstu. Gdy kolor tekstu i tekst nie są zgodne
      (np. słowo „zielony” wydrukowane niebieską czcionką, lub „czerwony” wydrukowane na zielono)
      człowiek poproszony o określenie koloru tekstu zrobi to wolniej i z większym prawdopodobieństwem błędu,
      niż gdyby tekst i jego kolor były zgodne (np. słowo „żółty” wydrukowane żółtą czcionką).
      Efekt ten został odkryty przez amerykańskiego psychologa Johna Ridleya Stroopa w 1935.
      Publikacja Stroopa jest jedną z najczęściej cytowanych prac z dziedziny psychologii doświadczalnej.
      Innym zadaniem potwierdzającym istnienie efektu Stroopa jest porównywanie fizycznej wielkości dwóch
      liczb jednocyfrowych, różniących się również swoją wielkością liczbową – efekt ten nosi wtedy nazwę
      efektu zgodności wielkości lub efektu interferencji liczbowo-wielkościowej.</p>

<h2> __________ Wykonaj test! __________</h2>
  <p> W eksperymencie będą wyświetlać się nazwy kolorów i "xxxxxxx" w kolorach żółty, zielony, niebieski i czerwony.
    Twoim zadaniem jest odpowiedzieć jaki jest kolor słowa, pomijając przy tym jego znaczenie.
    Przykładowo: jeżeli pojawi ci się <font color="red">niebieski</font>, prawidłową odpowiedzią będzie czerwony.
    Po naciśnięciu przycisku "Rozpocznij" zostaniesz przeniesiony na stronę próbnej serii eksperymentu.
    Korzystaj z klawiatury numerycznej umieszczonej po prawej stronie.
    Używaj tylko jednego palca i każdą próbę rocznij od położenia go na klawisz 5 (nie wciskaj go).
    Poprawne odpowiedzi są umieszczone na obrazku niżej.Oprócz
    bodźców wyświetli się również tablica z kolorami, która może ci służyć jako ściąga.
    Czas reakcji i prawidłowość odpowiedzi nie będą wtedy liczone. Seria ta ma pomóc Ci zapamietać,
    które klawisze odpowiadają któremu klawiszowi. Serie próbną możesz wykonać dowolną ilość razy.
    Gdy będziesz już gotowy do rozpoczęcia właściwej części eksperymentu, wciśnij przycisk "Rozpocznij eksperyment".
    Zostaniesz przeniesiony na odpowiednią stronę. Po naduszeniu klawisza enter rozpocznie się eksperyment.</p>

    <center><img src="media/numery.png"></center>


  <a href="{% url 'pre_experiment' %}">Rozpocznij</a>
{% endblock %}
